repos:
- repo: local
  hooks:
  - id: ruff-check
    name: ruff check
    entry: uv run ruff check --fix
    language: system
    types: [python]

  - id: ruff-format
    name: ruff format
    entry: uv run ruff format
    language: system
    types: [python]

  - id: openapi-export
    name: export openapi
    entry: uv run python -m scripts.export_openapi
    language: system
    types: [text]
    pass_filenames: false
