name: Test Suite

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup dependencies
        uses: ./.github/actions/setup-deps

      - name: Run tests
        run: just test

      - name: Run type checks
        run: just type-check
