name: "Copilot Setup Steps"

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
      - .github/actions/setup-deps/action.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml
      - .github/actions/setup-deps/action.yml

jobs:
  copilot-setup-steps:
    runs-on:  ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup dependencies
        uses: ./.github/actions/setup-deps
        with:
          install-backend: "true"
          install-frontend: "true"
